"*":
  "atom-beautify":
    java: {}
    json:
      brace_style: "end-expand"
      break_chained_methods: true
      end_with_newline: true
      indent_size: 2
      preserve_newlines: false
  "atom-typescript": {}
  "autocomplete-python":
    extraPaths: "$PROJECT:/home/remco/.local/share/virtualenvs/$PROJECT/lib/python2.7/site-packages:/home/remco/.local/share/virtualenvs/$PROJECT/lib/python3.4/site-packages:/home/remco/.local/share/virtualenvs/$PROJECT/lib/python3.5/site-packages"
    pythonExecutable: "python3"
  "bracket-matcher":
    autocompleteBrackets: false
    autocompleteSmartQuotes: false
    wrapSelectionsInBrackets: false
  core:
    allowPendingPaneItems: false
    audioBeep: false
    autoHideMenuBar: true
    destroyEmptyPanes: false
    disabledPackages: [
      "spell-check"
      "font-viewer"
      "json-schema"
      "whitespace"
    ]
    excludeVcsIgnoredPaths: false
    ignoredNames: [
      ".git"
      "__pycache__"
      "*.pyc"
      "*.egg-info"
      "*.min.js"
      "*.min.css"
      "*.orig"
      "*.dist-info"
    ]
    projectHome: "/home/remco/d-centralize"
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "atom-dark-syntax"
    ]
  docblockr:
    align_tags: "no"
    lower_case_primitives: true
    return_tag: "@returns"
    spacer_between_sections: true
  editor:
    autoIndentOnPaste: false
    fontSize: 10
    invisibles:
      eol: " "
    lineHeight: 1.3
    scrollPastEnd: true
    showInvisibles: true
    tabLength: 4
  "file-icons": {}
  "file-templates": {}
  "file-types":
    "\\.cfg$": "source.ini"
    "\\.js$": "source.js"
    "\\.ngdoc$": "source.gfm"
    "^AppFile$": "source.ruby"
    "^Deliverfile$": "source.ruby"
    "^Fastfile$": "source.ruby"
    "^\\.coveragerc$": "source.ini"
    "^\\.eslintignore": "source.gitignore"
    "^\\.stylelintignore": "source.gitignore"
    "^\\.stylelintrc$": "source.yaml"
  "git-hide":
    hideOnStartup: false
  "highlight-line":
    enableBackgroundColor: false
  hyperclick:
    linuxTriggerKeys: "shiftKey,ctrlKey"
  "js-hyperclick":
    extensions: [
      ".js"
      ".jsx"
      ".json"
      ".node"
    ]
  "language-log":
    showFilterBar: false
  linter:
    displayLinterStatus: false
    errorPanelHeight: 160
    ignoreMatchedFiles: "{**/*.min.*},*.md"
    showErrorInline: false
    showErrorTabFile: false
    showErrorTabProject: false
    statusIconScope: "File"
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
    fixOnSave: true
    globalNodePath: "/usr"
    rulesToSilenceWhileTyping: [
      "eol-last"
      "no-trailing-spaces"
    ]
  "linter-flake8":
    executablePath: "flake8-atom.sh"
  "linter-htmlhint": {}
  "linter-jscs":
    onlyConfig: true
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
  "linter-pep257": {}
  "linter-pep8": {}
  "linter-ruby": {}
  "linter-shellcheck": {}
  "linter-stylelint":
    disableWhenNoConfig: true
    usePreset: false
  "markdown-pdf":
    type: "png"
  "markdown-preview":
    breakOnSingleNewline: true
  "markdown-preview-plus": {}
  "merge-conflicts": {}
  "one-dark-ui":
    layoutMode: "Compact"
  "open-unsupported-files":
    extensions: "doc,xls,ppt,docx,xlsx,pptx,pdf,rtf,zip,7z,rar,tar,gz,bz2,odt"
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  pigments: {}
  "remote-edit":
    clearFileList: true
  "rst-preview": {}
  "spell-check": {}
  "svg-preview": {}
  tabs: {}
  "terminal-plus":
    core: {}
    style: {}
    toggles:
      autoClose: true
      runInsertedText: false
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".angular.html.text":
  editor:
    tabLength: 4
".attribute-values.js.jsx.source":
  editor:
    tabLength: 4
".coffee.jsx.source":
  editor:
    tabLength: 4
".console.python.text":
  editor:
    tabLength: 4
".cython.source":
  editor:
    tabLength: 4
".editorconfig.source":
  editor:
    tabLength: 4
".erb.html.text":
  editor:
    tabLength: 4
".generic-config.text":
  editor:
    tabLength: 4
".gitignore.source":
  editor:
    tabLength: 4
".ini.source":
  editor:
    showIndentGuide: false
    tabLength: 4
".js.jsx.react.source":
  editor:
    tabLength: 4
".js.jsx.source":
  editor:
    tabLength: 4
".js.regexp.source":
  editor:
    tabLength: 4
".js.source.subtlegradient":
  editor:
    tabLength: 4
".json.source":
  editor:
    softWrap: false
    tabLength: 4
".python.text.traceback":
  editor:
    tabLength: 4
".restructuredtext.text":
  editor:
    softWrap: true
    tabLength: 4
".ruby.source":
  editor:
    tabLength: 4
".source.ts":
  editor:
    softWrap: false
    tabLength: 4
".source.tsx":
  editor:
    tabLength: 4
