packages: [
  "angularjs"
  "atom-beautify"
  "atom-jasmine"
  "atom-notifier"
  "autocomplete-json"
  "autocomplete-modules"
  "autocomplete-python"
  "busy-signal"
  "color-picker"
  "docblockr"
  "editorconfig"
  "file-icons"
  "file-types"
  "git-hide"
  "hyperclick"
  "hyperclick-markdown"
  "hyperlink-hyperclick"
  "intentions"
  "javascript-snippets"
  "js-hyperclick"
  "language-babel"
  "language-cython"
  "language-docker"
  "language-dotenv"
  "language-generic-config"
  "language-gettext"
  "language-gherkin"
  "language-gitignore"
  "language-gradle"
  "language-groovy"
  "language-ini"
  "language-log"
  "language-markdown"
  "language-postcss"
  "language-restructuredtext"
  "language-stylus"
  "language-svg"
  "lcov-info"
  "linter"
  "linter-eslint"
  "linter-flake8"
  "linter-htmlhint"
  "linter-js-yaml"
  "linter-jshint"
  "linter-ruby"
  "linter-shellcheck"
  "linter-stylelint"
  "linter-ui-default"
  "MagicPython"
  "merge-conflicts"
  "mocha-ui"
  "open-unsupported-files"
  "package-sync"
  "pdf-view"
  "pigments"
  "project-manager"
  "rst-preview"
  "svg-preview"
]
