packages: [
  "angularjs"
  "atom-jasmine"
  "atom-typescript"
  "autocomplete-modules"
  "autocomplete-python"
  "color-picker"
  "editorconfig"
  "external-open"
  "file-icons"
  "file-types"
  "font-viewer"
  "git-hide"
  "javascript-snippets"
  "keyboard-scroll"
  "language-cython"
  "language-docker"
  "language-generic-config"
  "language-gettext"
  "language-gherkin"
  "language-gitignore"
  "language-gradle"
  "language-ini"
  "language-javascript-jsx"
  "language-log"
  "language-restructuredtext"
  "language-svg"
  "linter"
  "linter-eslint"
  "linter-flake8"
  "linter-htmlhint"
  "linter-jscs"
  "linter-jshint"
  "linter-shellcheck"
  "linter-stylelint"
  "linter-tslint"
  "markdown-folder"
  "merge-conflicts"
  "open-sesame"
  "package-sync"
  "pdf-view"
  "pigments"
  "python-tools"
  "rst-preview"
]
