'.source.python':
  'py.test mark as WIP':
    'prefix': '@wip'
    'body': '@pytest.mark.wip'

".source.js, .source.jsx, .source.ts":
  "import default":
    "prefix": "im"
    "body": """
    import ${1:name} from '${0:module}';
    """

  "import members":
    "prefix": "im{"
    "body": """
    import {${1:names}} from '${0:module}';
    """

  "import all":
    "prefix": "im*"
    "body": """
    import * as ${1:names} from '${0:module}';
    """
